h1{
	color: blue;
	background-color: #91E0F4;
	font-family: 'Roboto', sans-serif;
}
h2{
	color: red;
	font-family: 'Alegreya', serif;
}
body{
	background-color: pink;
	text-align: center;
}

#avatar {
	width: 250px;
	box-shadow: 1px 1px 12px; 
}
.network {
	width: 250px;
	box-shadow: 1px 1px 20px;
}
.red-border {
	border: solid 2px red;
}
.pink {
	background-color: brown;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: space-between;
}
.green {
	background-color: grey;
	width: 30px;
	height: 30px;
	
}
.orange{
	background-color: orange;
	width: 30px;
	height: 30px;
	
}


.my-class{
	background-color: white;
	padding: 30px;
	margin: 50px;
	margin-left: 100px;
	margin-right: 100px;
	border: solid 2px black;
	border-radius: 10px;
}